//     text
$color-text-light: var(--el-color-white);
$color-text-dark: var(--el-text-color-primary);

//     background
$color-bg-light: var(--el-bg-color);
$color-bg-brand: var(--el-color-primary);
